.CreateTodoButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    color: floralwhite;
    background-color: darkorange;
    background: linear-gradient(rgb(255, 178, 83), darkorange);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 1s;
}

.CreateTodoButton:hover {
    transform: rotate(270deg);
    background: linear-gradient(270deg, rgb(255, 178, 83), darkorange);
    transition: transform .5s;
}

.CreateTodoButton:active {
    background: darkorange;
}
